pkgbase = adria-music-player
	pkgdesc = Minimal GTK4/libadwaita music player for Linux powered by mpv
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/AdriaBC06/adria-music-player
	arch = any
	license = GPL-3.0-or-later
	depends = python
	depends = python-gobject
	depends = gtk4
	depends = libadwaita
	depends = mpv
	depends = python-mutagen
	optdepends = yt-dlp: download audio from supported URLs
	optdepends = ffmpeg: audio extraction and conversion for yt-dlp downloads
	optdepends = mpv-mpris: MPRIS integration for Waybar and desktop media controls
	source = adria_music_player.py
	source = adria_music_player.css
	source = adria-music-player.desktop
	source = LICENSE
	source = README.md
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = adria-music-player
